.card-container {
  border: 1px solid black;
  width: 97%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5px;
}

.card {
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
